html,
body {
    background-color: #f7f7f7;
    font-family: "Sans-serif", Arial, Helvetica, sans-serif;

}

.main-header {
    color: #3d2173a1;
    text-align: center; /* Centering the content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
    
/* Style for the header */
header {
    background-color: #f7f7f7;
}

#album-container {
    color: #3d2173a1;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns of equal width */
    gap: 10px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
}

#album-container img {
    width: 300px; 
    margin: 10px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 15px 35px #3d2173a1;
    
}

#album-container img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}


#removeLastAlbum {
    text-align: center;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px; 
    height: 40px; 
    border-radius: 20px; 
    color: #3d2173a1;
    font-size: 22px;
    font-weight: bold; 
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow for depth, if present in the image */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #9275d0; /* Darken button on hover, adjust color as needed */
}

button:active {
    transform: scale(0.98); /* Slightly shrink the button when clicked */
}

/* Style for the search input */
#search-input {
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Shared style for both search button and remove last album button */
#search-button {
    background-color: #eee4e5;
    border: 2px solid #3d2173a1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

#search-button::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    background-color: #3d2173a1;
    bottom: -4px;
    right: -6px;
    transform: rotate(45deg);
    border-radius: 2px 0 0 0;
}

/* Additional hover effect for buttons */
#search-button:hover {
    background-color: #b01e1e; /* Darker shade on hover */
}

#add-album {
    text-align: center;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px; 
    height: 40px; 
    border-radius: 20px; 
    color: #3d2173a1;
    font-size: 22px;
    font-weight: bold; 
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow for depth, if present in the image */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */

}

input[type=text] {
    padding: 10px;
    height: 20;
    border-radius: 10px;
    border: none;
    margin: 5px;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
